/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(normalize.css);
@import url(meanmenu.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  ;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  font-weight: normal;
  color: #111111;
  margin: 0
}

h2 {
  font-size: 22px
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 13px
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  font-weight: 600;
  font-size: 15px;
  color: #110f0a;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none !important;
}

/* .layout_padding {
    padding-bottom: 0px;
    padding-top: 90px;
} */


.header_main {
  width: 100%;
  float: left;
}

.main-menu ul>li a {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #090400;
  padding: 8px 16px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 800;
  border-radius: 50px;
  background-color: #5882d7;
  padding: 10px 15px;
  border-radius: 57px;
  color: white;
  background: transparent;
  color: #383737;
}

.main-menu ul>li a:hover {
  color: white;
  background-color: #5882d7;
}

.main-menu ul {
  margin: 0;
  list-style-type: none;
  /* margin-bottom: 10px; */
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo {
  max-width: 150px;
}

nav.main-menu {
  float: right;
  margin-left: 0;
}

.banner_section_start {}

.main-menu ul li:first-child {
  margin-left: 0;
}

.main-menu ul>li {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}

.mean-container .mean-bar {
  background: #1450c9;
}

.main-menu ul>li.active a {
  background-color: #5882d7;
  color: #ffffff;
}

.carousel-indicators .active {
  background-color: #1450c9;
}

.carousel-indicators li {
  background-color: #000;
  height: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #1450c9;
  background-size: 100% 100%;
  padding-top: 8px;
}

.carousel-control-next {
  right: 1080px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 200px;
}

.carousel-control-prev {
  left: -137px;
  top: 87px;
}

.fa {
  line-height: 3px ! important;
}





.padding_0 {
  padding: 0 !important;
}

.img-responive {
  max-width: 100%;
}

.gallery_blog img {
  width: 100%;
  min-height: 295px;
}

.gallery_blog {
  position: relative;
}

.gallery_blog .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #5882d7;
  cursor: pointer;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery_blog h2 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-size: 24px;
}


/* .banner_section {
    width: 100%;
    float: left;
} */

.o-title {
  line-height: 1.2;
  color: #1450c9;
}

.lorem_text {
  width: 100%;
  float: left;
  margin-left: 0px;
}

.bt_main {
  width: 100%;
  float: left;
  background-color: #1450c9;
  height: 50px;
  font-size: 16pt;
  border: 0px;
  color: #fff;

}

.bt_main :hover {
  color: #000;
}

.banner_bt {
  width: 15%;
  margin: 0 auto;
}

.about_section {
  width: 100%;
  float: left;
}

.about_text {
  width: 100%;
  font-size: 50pt;
  color: #1450c9;
}

.color {
  color: #383737;
}

.about_taital {
  width: 100%;
  font-size: 14pt;
  margin-left: 0px;
  padding-top: 20px;
}

.about_taital_down {
  padding-top: 0;
  margin-bottom: 32px;
}

.o-btn {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 16px 16px;
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 16px;
  color: #fff;
  background-color: #1450c9;
}

.o-btn:hover {
  color: #1450c9;
  border-color: #1450c9;
  background-color: transparent;
}

.o-btn_light {
  background-color: white;
  color: #1450c9;
  border-color: white;
}

.o-btn_light:hover {
  border-color: white;
  color: white;
}

.product_section {
  width: 100%;
  float: left;
}

.product_text {
  width: 20%;
  float: left;
  color: #383737;
  font-size: 50pt;
  border-bottom: 3px solid #111111;

}

.den {
  color: #1450c9;
}

.product_section_2 {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.den_text {
  width: 100%;
  float: left;
  text-align: center;
  color: #1450c9;
  font-weight: 700;

}

.den_text a {
  color: #1450c9
}

.den_text a:hover {
  color: #000;
}

.croissants {
  color: #000;
}

.croissants a:hover {
  color: #000;
}

.gallery_section {
  width: 100%;
  float: left;
}

.gallery_main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gallery_taital {
  width: 100%;
  float: left;
  color: #383737;
  font-size: 50pt;
}

.our_text {
  color: #1450c9;
  border-bottom: 3px solid #111111;
}

.gallery_maain {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.breads_text {
  width: 100%;
  float: left;
  top: -174px;
  text-align: center;
  color: #ffffff;
  font-size: 30pt;
  font-size: 20pt;
  font-weight: 700;
}

.touch_main {
  width: 100%;
  margin-top: 50px;
}

.images {
  width: 100% !important;
  margin-bottom: 20px;
}


.input_main {
  width: 100%;
  border-radius: 24px;
  background-color: #5882d7;
  padding: 40px 20px 13px 20px;
}

.form-group input {
  border-radius: 8px;
}

.email-bt {
  background: #ffffff;
  border: none;
  color: #000;
  width: 100%;
  height: 55px;
  font-size: 16px;
  padding: 20px;
}

.send_btn {
  width: 100%;
  margin: 24px 0 auto;
  text-align: center;
}

.massage-bt {
  color: #000;
  border: none;

  width: 100%;
  height: 145px;
  font-size: 16px;
  padding: 20px;
}

button.main_bt {
  background: #302f2f;
  border: none;
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 22px;
  margin-top: 45px;


}

button.main_bt a:hover {
  color: #1450c9;
}

.map_section {
  width: 100%;
}

.contact_section {
  width: 100%;
  float: left;
  background-color: #393838;
  height: auto;
  padding-top: 40px;
  padding-bottom: 45px;
}

.contact_text {
  width: 24%;
  float: left;
  color: #ffffff;
  border-bottom: 8px solid #ffffff;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contact_taital {
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.adderess_text {
  color: #ffffff;
  font-size: 26pt;
  font-weight: 700;
  padding-top: 10px;
}

.image-icon {
  width: 100%;
  float: left;
  padding-top: 10px;

}

.email_text {
  font-size: 17px;
  color: #ebebeb;
  padding-left: 16px;
}

.social_icon {
  width: 100%;
  float: left;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
}

.social_icon li {
  float: left;
  padding-right: 15px;
  margin-top: 25px;
}

.footer-img {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.copyright_section {
  width: 100%;
  float: left;
  background-color: #fefefe;
  height: auto;
}

.copyright_taital {
  font-weight: 18px;
  color: #010000;
  text-align: center;
}

.copyright_taital a {
  color: #010000;
}

.copyright_taital a:hover {
  color: #f73c1d;
}

.hello_images {
  width: 100%;
  float: left;
}

.container {
  position: relative;
}


.layout_padding2 {
  padding-top: 60px;
}


.gallery_blog {
  position: relative;
  width: 100%;
}

.gallery_blog:hover .overlay {
  opacity: 1;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.c-galley_btn {
  margin-top: 16px;
  padding: 8px 16px;
}

.container:hover .overlay {}

#map {
  height: 100%;
  min-height: 480px;
}

.product_section_2 .images {
  border: solid #e7e4e3 23px;
}

.product_section_2 .images:hover {
  border-color: #1450c9;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.o-canvas {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.o-img {
  max-width: 100%;
}

.o-kicker {
  color: #383737;
}

.c-about__figure {
  display: flex;
  align-items: center;
}

.c-benefits {
  counter-reset: section;
}

.c-benefits__list {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 560px;
  margin-bottom: 16px;
  font-family: 'Poppins';
  line-height: 1.2;
  color: #110f0a;
}

.c-benefits__list::before {
  content: counters(section, ".") " ";
  counter-increment: section;
  background: #5882d7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 16px;
  font-weight: 800;
  color: white;
}



/* MOBILE BP */
@media screen and (max-width: 767px) {
  .o-section {
    margin: 24px 0;
  }

  .o-kicker {
    font-size: 24px;
  }

  .o-title {
    font-size: 40px;
  }

  .o-subtitle {
    font-size: 24px;
  }

  .c-benefits {
    margin-top: 24px;
  }

  .c-benefits__list {
    font-size: 18px;
  }

  .c-benefits__list::before {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    border-radius: 8px;
  }
}

/* DESKTOP BP */
@media screen and (min-width: 768px) {
  .o-section {
    margin: 56px 0;
  }

  .o-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .o-kicker {
    font-size: 32px;
  }

  .o-title {
    font-size: 70px;
  }

  .o-description {
    font-size: 18px;
  }

  .c-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .o-subtitle {
    font-size: 40px;
    color: #383737;
  }

  .c-benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 40px;
  }

  .c-benefits__list {
    font-size: 20px;
    flex: 1 50%;
  }

  .c-benefits__list::before {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 16px;
  }
}